@charset "utf-8";

/* Noto Sans */
@font-face {
  font-family: 'NotoKR';
  font-weight: 300;
  src: url("../font/notokr-light.woff") format("woff"), url("../font/notokr-light.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoKR';
  font-weight: normal;
  src: url("../font/notokr-regular.woff") format("woff"), url("../font/notokr-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoKR';
  font-display: swap;
  font-weight: 500;
  src: url("../font/notokr-medium.woff") format("woff"), url("../font/notokr-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'NotoKR';
  font-weight: bold;
  src: url("../font/notokr-bold.woff") format("woff"), url("../font/notokr-bold.ttf") format("truetype");
}



/* ---------- reset ---------- */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "NotoKR", "Apple SD Gothic Neo", "돋움", Dotum, sans-serif;
}

html,
button,
input,
select,
th,
td,
textarea {
  color: #494949;
  background: transparent;
  font-family: "NotoKR", "Apple SD Gothic Neo", "돋움", Dotum, sans-serif;
}

fieldset,
img {
  border: 0 none;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

button,
input,
select,
textarea {
  vertical-align: middle;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::placeholder {
  font-size: 16px;
  /* 14pt 18.59px 1.188rem*/
  font-weight: 400;
  color: #CCC;
  background-color: #FFF;
}
:-moz-input-placeholder {
  font-size: 16px;
  /* 14pt 18.59px 1.188rem*/
  font-weight: 400;
  color: #CCC;
  background-color: #FFF;
}
::-webkit-input-placeholder {
  font-size: 16px;
  /* 14pt 18.59px 1.188rem*/
  font-weight: 400;
  color: #CCC;
  background-color: #FFF;
}
:-ms-input-placeholder {
  font-size: 16px;
  /* 14pt 18.59px 1.188rem*/
  font-weight: 400;
  color: #CCC;
  background-color: #FFF;
}

label {
  cursor: pointer;
}

table,
label,
figure,
caption {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
}

button {
  cursor: pointer;
  border: 0 none;
  background: transparent;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:active {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}
a:link, a:visited {
  text-decoration: none;
}



/* ---------- common css ---------- */

.sr_only {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ellipsis {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/* button[class^=btn_] {
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
} */

.btn_comm {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

img.img_thumb{
  display: block;
  max-width: 100%;
  height: auto;
}

/* ----- icons ----- */

.ico_comm {
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	vertical-align: top;
	background-image: url(../images/ico_comm.png);
  background-size: 150px 150px;
  -webkit-background-size: 150px 150px;
	background-repeat: no-repeat;
}

/* retina 대응 */
/* @media only screen and ( -webkit-min-device-pixel-ratio: 1.5 ),
only screen and ( min-device-pixel-ratio: 1.5 ),
only screen and ( min-resolution: 144dpi ),
only screen and ( min-resolution: 1.5dppx ) {
	.ico_comm {
		background-image: url(../images/retina/ico_comm.png);
		background-size: 300px 300px;
    -webkit-background-size: 300px 300px;
    background-repeat: no-repeat;
	}
} */

.ico_open {
  display: block;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: 0 -25px;
  background-color: cornflowerblue;
}

.ico_close {
  display: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: 0 -50px;
  background-color: cornflowerblue;
}

.ico_srch {
  width: 19px;
  height: 19px;
  background-position: -30px 0;
}

.ico_q {
  display: inline-block;
  width: 13px;
  height: 18px;
  margin-top: 5px;
  background-position: -55px 0;
}

.ico_a {
  display: inline-block;
  width: 12px;
  height: 14px;
  margin-top: 10px;
  background-position: -80px -0;
}

.ico_arrow_down {
  float: right;
  display: block;
  width: 9px;
  height: 5px;
  margin-top: 10px;
  background-position: -100px 0;
}

ico_q::after,
ico_a::after,
.ico_arrow_down {
  clear: both;
  content: '';
}

/* ----- text styles ----- */

.align_left {
  text-align: left;
}
.align_center {
  text-align: center;
}
.align_right {
  text-align: right;
}

.txt_blue {
  font-size: inherit;
  color: #3489DF;
}



/* ---------- style ---------- */

#playwithwrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.inner_p {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* ----- header ----- */

.play_header {
  z-index: 7721;
  position: fixed;
  width: 100%;
  height: 102px;
  left: 0;
  top: 0;
  border-bottom: 1px solid #DDD;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #FFF;
}
.play_header .inner_p {
  height: 102px;
}

.wrap_util {
  height: 100%;
  padding: 30px 0 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.link_logo {
  position: absolute;
  width: 130px;
  height: auto;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
}

.btn_login {
  float: right;
}

.txt_login {
  display: inline-block;
  margin-top: 8px;
  font-size: 19px;
  /* 28pt 37.18px 1.188rem */
  color: #333;
}

.btn_aside {
  z-index: 100;
  position: absolute;
  width: 51px;
  height: 51px;
  top: 0;
  left: 0;
  margin: 30px 0 0 30px;
  padding: 17px 34px 17px 0;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.list_aside {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition: transform 0.2s;
  padding: 102px 30px 0 30px;
  background: rgba(51, 51, 51, 0.8);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.list_aside.is_active {
  transform: translateY(0);
}

.list_aside > li {
  padding: 20px 0;
}

.list_aside > li:hover,
.link_aside:hover {
  background-color: black;
}

.txt_aside {
  display: inline;
  font-size: 19px;
  color: white;
  text-decoration: none;
}



/* ----- nav ----- */

.play_nav {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 130px;
  margin-top: 102px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #F4F5F7;
}

.form_srch {
  z-index: 10;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
}

.inner_srch {
  overflow: hidden;
  position: relative;
  height: 62px;
  padding: 34px 30px 33px 30px;
}

.input_srch {
  overflow: visible;
  width: 100%;
  height: 62px;
  padding: 0 0 0 72px;
  border: none;
  font-size: 16px;
  /* 14pt 18.59px 1.188rem*/
  color: #494949;
  background-color: #FFF;
}
.input_srch:focus {
  outline: none;
}

.btn_srch {
  position: absolute;
  top: 34px;
  left: 30px;
  width: 19px;
  height: 19px;
  margin: 22px 24px 22px 30px;
}



/* ----- main ----- */

.play_main {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.wrap_tab {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 60px 0 0 0;
}

.tab_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tab_list li {
  width: 33.33%;
  height: 50%;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tab_list li > a,
.link_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-left: 2px solid #F4F5F7;
  border-top: 2px solid #F4F5F7;
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tab_list li:nth-child(4),
.tab_list li:nth-child(5),
.tab_list li:nth-child(6) {
  border-bottom: 2px solid #F4F5F7;
}

.txt_tab {
  font-size: 16px;
  /* 15pt 19.92px 1.25rem */
  color: #585858;
}

.tab_list > li.is_active a,
.tab_list > li:hover a,
.tab_list > li.is_active .link_tab,
.tab_list > li:hover .link_tab {
  border: none;
  background-color: #5498DA;
}

.tab_list li.is_active .txt_tab,
.tab_list li:hover .txt_tab,
.link_tab:hover .txt_tab {
  color: #FFF;
}

.tab_cont {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 78px 0 62px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #444;
  background-color: #FFF;
}

.tab_cont .tit_cont {
  display: block;
  margin: 0 30px;
  padding: 0 0 20px 0;
  border-bottom: 2px solid #333;
  font-size: 24px;
  /* 18pt 24px 1.5rem */
  color: #333;
}

.wrap_qna {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 0 114px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.list_answer {
  display: flex;
  position: relative;
  padding: 55px 30px 85px 30px;
  background-color: #F4F5F7;
}

.list_answer > li a,
.list_qna > a,
.link_question {
	display: block;
  margin: 0 30px;
	padding: 31px 0 30px 0;
  border-bottom: 2px solid #E2E7EE;
  color: #333;
}

.link_question.ui-state-active,
.link_question.ui-accordion-header-active {
  border: none;
}

.link_question,
.list_qna a.link_question {
  background-color: #FFF;
}

.txt_question {
  display: inline-block;
  max-width: calc(100% - 40px);
  margin-left: 13px;
  font-size: 16px;
  /* 14pt 18.59px 1.188rem */
  font-weight: 400;
  letter-spacing: -1px;
  color: #494949;
}

.txt_answer {
  display: inline-block;
  width: calc(100% - 23px);
  margin-left: 14px;
  font-size: 16px;
  /* 14pt 18.59px 1.188rem */
  font-weight: 400;
  color: #333;
}

.wrap_ask {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.btn_ask {
  width: 100%;
  height: 100px;
  padding: 0 10px;
  border-radius: 10px;
  line-height: 26px;
  font-size: 16px;
  /* 18pt 24px */
  color:#FFF;
  background-color: #5498DA;
}

.txt_ask {
  padding: 0 0 30px 0;
  font-size: 16px;
  /* 14pt 18.59px 1.188rem */
  color: #8B8B8B;
}



/* ----- footer ----- */

.play_footer {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  background-color: #F4F5F7;
}
.play_footer .inner_p {
  margin: 0 auto;
  padding: 70px 30px 146px 30px;
  /* padding: 70px 30px 146px 30px; */
}

.wrap_policy {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.wrap_policy a + a::before {
  content: '|';
  margin: 0 15px;
  font-size: 14px;
  color: #85878A;
}

.txt_policy {
  font-size: 14px;
  /* 14pt 18.59px 1.188rem*/
  color: #85878A;
}

.wrap_company {
  text-overflow: inherit;
  position: relative;
  width: 100%;
  padding: 60px 0 107px 0;
  line-height: 1.5rem;
  word-break: keep-all;
}

.txt_company {
  display: block;
  font-size: 14px;
  /* 11pt 14.6px 0.938rem */
  font-weight: 400;
  color: #56585B;
}

@media screen and (min-width: 1070px) {
  .wrap_company {
    max-width: 720px;
    margin: 0 auto;
  }

  .txt_company {
    display: inline;
    text-align: center;
  }
  .txt_company::after {
    content: '|';
    margin: 0 10px;
    font-size: 14px;
    color: #56585B;
  }
  .txt_company:nth-child(3)::after,
  .txt_company:nth-child(5)::after {
    display: block;
    content: '';
    margin: 0;
  }
  .txt_company:nth-child(8)::after {
    content: '';
    margin: 0;
  }
}

.txt_copyright {
  font-size: 14px;
  letter-spacing: -0.02em;
  /* 12pt 15.93px 1rem */
  color: #85878A;
}
